.postContainer {
  a {
    display: block;
    max-width: 700px;

    & + a {
      margin-top: 2rem;
    }

    strong {
      display: block;
      font-weight: bold;
      font-size: 1.75rem;
      color: var(--heading);
      margin-bottom: 0.5rem;
    }

    p {
      font-weight: 400;
      font-size: 1.125rem;
    }

    .postFooter {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.75rem;

      margin-top: 1.5rem;
      color: var(--info);
      font-weight: 400;
      font-size: 0.875rem;

      time,
      span {
        display: flex;
        align-items: center;
      }

      svg {
        font-size: 1rem;
        margin-right: 0.35rem;
      }
    }
  }
}

.loadButton {
  color: var(--highlight);
  font-size: 1.125rem;
  font-weight: 600;
  border: 0;
  outline: 0;
  background: transparent;

  margin-top: 3.9rem;
}
